    	body {
    		background-color: #F0FFC2;
    	}

    	hr{
    		border-style: dotted none none none;
    		border-color: grey;
    		border-width: 5px;
    		height: px;
    		width: 5%;

    	}

    	img{
    		height: 200px;
    	}

    	h1{
    		color: #139487;
    	}

    	h3{
    		color: #139487;
    	}